/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/


# rspec failure tracking
.rspec_status
Gemfile.lock

appom_metrics_*.json
element_screenshot_*.png
element_state_tracking_*.yaml